.navLeft {
    grid-area: navLeft;
    background-color: #f7f7f7;
    margin-top: 20px;
}

.item {
    border-bottom: 1px solid #bec5cd;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.item a {
    font-weight: bold;
    color: #8AC5E1;
}